:root {
    --green: #00A884;
    --light-green: #09D261;
    /*dark mode*/
    --dm-dark: #111B21;
    --dm-light: #202C33;
    --dm-lighter: #2A3942;

    --dmf-dark: #74828B;
    --dmf-light: #C0CCC8;

    --dmb-green: #005C4B;
    --dmb-grey: #202C33;

    --dm-lin: #2F3B43;
    --check-read: #53BDEB;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i {
    color: #A5B1B8;
    cursor: pointer;
}

body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    overflow:hidden;
    background-color: black;
}


#wrapper {
    margin: 0 auto;
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    /* max-width: 1000px; */
}

header {
    display: flex;
    flex-direction: column;
    height: 15vh;
}

.win-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--green);
    font-size: 0.8rem;
    padding: 0.4rem 0.7rem;
   
}

.win-header > h1 {
    font-size: 0.8rem;
    
    font-weight: 100;
}

.win-header > .icons {
   display: flex;
   cursor: pointer;
   justify-content: space-between;   
   width: 100px;
}


header > .app-header {
    background-color: var(--dm-light);
    
    display: flex;
    height: 100%;

}

.chat-header {
    min-width: 500px;
width: 65%;
padding: 0.4rem 0.7rem;


}

.profile {
    width: 35%;
    padding: 0.7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 340px;
    border-right: 1.5px solid var(--dm-lin);
    justify-content: space-between;
}



.profile-pic {
    border-radius: 50%;
    width: 50px;
    opacity: 0.8;
    
}

.profile > i {
    opacity: 0.8;
    
}

#main {
    display: flex;
    height: 80vh;
    width: 100%;
    
}
#lx {
    background-color: var(--dm-dark);
    width: 35%;
    height: 85vh;
    min-width: 340px;
    border-right: 1.5px solid var(--dm-lin);

}



#rx {
background: url('../img/dm-wall.png');
background-repeat: repeat;
background-size: contain;
min-width: 500px;
width: 65%;
height: 85vh;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.input-bar {
    background-color: var(--dm-light);
    
    position: sticky;
}



.chat {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    overflow: auto;
    
}

.message {
    display: flex;
    flex-direction: column;
    background-color: var(--dmb-green);
    
    padding: 7px;

    margin: 1px 30px 1px 100px;
    border-radius: 6px;
    
}

.time {
    text-align: right;
    color: var(--dmf-light);
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
}

.nowTime {
    padding-right: 3px;
}

.input-bar {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
min-height: 40px;
}

.input-bar > i {
    font-size: 25px;
   
}



input {
    all: unset;
}

#inputText {
    color: #A5B1B8;
    background-color: var(--dm-lighter);
    padding: 12px;
    border-radius: 12px 6px;
    font-size: 15px;
    width: 25rem;
}

.read {
   color: var(--check-read); 
}

